/node_modules/
/.idea/
    ../2021-4-29-1-8-52.jpg
        ../CSS-demo-1/
        ../CV -1/
        ../FiraCode_1.207/
        ../HTML-demo-1/
        ../HTML-demo-2/
        ../canvas-demo-1/
        ../canvas-demo-2 - 副本/
        ../canvas-demo-2/README.md
        ../dom-2/
        ../fangfang.jquery/
        .cache/0b6f4826e6e979f01cd61a12c08d52e5.json
        .cache/23bae31feca1634c733e216d7857ca69.json
        .cache/53411a4fe12050a6d196bad2edc6cd30.json
        .cache/82ca5ca2fe6e695fd5df7fbfdecf6018.json
        .cache/b3c113a6bfe9fb9cfc9c7f63b3c8335e.json
        .cache/cac8394e2f406807b246c7514024e0ac.json
        .cache/cc14e4910864eb5acc4a1bf42a4e48db.json
        .cache/fbd82d514a21d5168348e6289244b13c.json
        dist/main.1fe720fa.js
        dist/main.1fe720fa.map
        dist/style.f43f79ad.css
        src/.gitignore
        src/images/
        ../new jquery/
        ../nodejs-demo-1/
        ../workspace.code-workspace